* {
    font-family: 'Varela Round', sans-serif;
}

#divider {
    position: fixed;
    width: 100%;
    height: 1px;
    background-color: #312e2e;
}

#banner {
    width: 100%;
    height: 55px;
    background-color: #1a1a1a;
    position: fixed;
    padding: 14px;
    align-items: center;
    z-index: 999;
}

#logo {
    font-size: 30px;
}

#transparent-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#user-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 350px;
    top: 85%;
    right: 30px;
    background-color: #212121;
    border: 1px solid #000000;
    border-radius: 8px;
    z-index: 1001;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#user-dropdown-divider {
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3b3737;
}

#form-submit-button {
    background-color: #5c0098;
    color: #e9e9e9;
    font-size: 18px;
    max-width: 400px;
    max-height: 70px;
    width: 400px;
    height: 70px;
    margin-top: 12px;
}

#form-submit-button:hover {
    background-color: #530089;
}

#form-submit-button:active {
    background-color: #6e00b4;
}